@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
/* sitio */

.App {
  text-align: center;
  font-family: 'Work Sans', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue",
    sans-serif;
}

a {
  color: #61dafb;
}

input,
select,
button {
  font-size: 22px;
}

.mensaje {
  color: #bbb;
  font-size: 12;
  margin-bottom: 20;
}

.cabecera {
  margin: 56px 0;
}

.titulo {
  color: green;
  font-size: 50px;
}

.subtitulo {
  color: red;
  font-size: 30px;
}

.pie {
  margin-top: 56px;
}

.idomas button {
  margin: 0 4px;
}

/* tabla */

table {
  margin: 0 auto;
}

.cuadros-jugadores {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: flex-start;
}

.cuadro-jugador {
  height: 40px;
  width: 40px;
}

.cuadro-ganador {
  border-color: yellow;
  border-width: 4px;
  border-style: dashed;
}

.menu-enlaces {
  padding-left: 0;
  list-style-type: none;
}

.menu-enlaces li {
  margin-bottom: 10px;
}

.carta-imagen {
  width: 75px;
  height: 120px;
}

.carta-marcada {
  opacity: 0.25;
}

.juego {
  margin-bottom: 20px;
}

/* Common element styling */

.btn {
  box-sizing: border-box;
  padding: 10px 10px 12px;

  background: white;
  border: 1px solid;
  box-shadow: 0px 4px 0px;
  border-radius: 6px;
  color:  black;
  font-size: 18px;
}

.btn-primary {
  background: #FDF06E;
  border-color: #CB3805;
  color:  #CB3805;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
  background: #CB3805;
  border-color: #CB3805;
  box-shadow: 0px 4px 0px #842029;
}

.btn-secondary {
  background: #F3D2CD;
  border-color: #D9647C;
  box-shadow: 0px 4px 0px #D9647C;
  color:  #CB0505;
}

.btn-secondary:active, .btn-secondary:hover, .btn-secondary:focus {
  background: #D9647C;
  border-color: #842029;
  box-shadow: 0px 4px 0px #842029;
}

.btn-info {
  background: #D9E7DE;
  border-color: #446F9A;
  color:  #446F9A;
}

.btn-info:active, .btn-info:hover, .btn-info:focus {
  background: #446F9A;
  border-color: #084298;
  box-shadow: 0px 4px 0px #084298;
  color:  white;
}

.btn-light {
  background: white;
  border-color: #DF6D45;
  box-shadow: 0px 4px 0px #DF6D45;
  color:  #CB3805;
}

.btn-light:active, .btn-light:hover, .btn-light:focus {
  background: #DF6D45;
  border-color: #CB3805;
  box-shadow: 0px 4px 0px #CB3805;
  color:  white;
}
