@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
/* sitio */

body {
  background: #f7e9a2;
}

.App {
  text-align: center;
  font-family: "Work Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Helvetica Neue", sans-serif;
}

a {
  color: #61dafb;
}

input,
select,
button {
  font-size: 22px;
}

.mensaje {
  color: #bbb;
  font-size: 12;
  margin-bottom: 20;
}

.cabecera {
  margin: 56px 0;
}

.titulo {
  color: green;
  font-size: 50px;
}

.subtitulo {
  color: red;
  font-size: 30px;
}

.idomas {
  margin-top: 56px;
  color: #df6d45;
  font-size: 24px;
}

.idomas button {
  margin: 0 4px;
}

/* tabla */

table {
  margin: 0 auto;
}

.cuadros-jugadores {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: flex-start;
}

.cuadro-jugador {
  height: 40px;
  width: 40px;
}

.cuadro-ganador {
  border-color: yellow;
  border-width: 4px;
  border-style: dashed;
}

.carta-imagen {
  width: 75px;
  height: 120px;
}

.carta-marcada {
  opacity: 0.25;
}

.juego {
  margin-bottom: 20px;
}

/* Common element styling */

.row {
  margin: 16px 0;
}

.row > * {
  float: none;
  margin: 0 auto;
}

.btn {
  box-sizing: border-box;
  padding: 10px 10px 12px;

  background: white;
  border: 1px solid;
  box-shadow: 0px 4px 0px;
  border-radius: 6px;
  color: black;
  font-size: 18px;
}

.btn-primary {
  background: #fdf06e;
  border-color: #cb3805;
  color: #cb3805;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background: #cb3805;
  border-color: #cb3805;
  box-shadow: 0px 4px 0px #842029;
}

.btn-secondary {
  background: #f3d2cd;
  border-color: #d9647c;
  box-shadow: 0px 4px 0px #d9647c;
  color: #cb0505;
}

.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus {
  background: #d9647c;
  border-color: #842029;
  box-shadow: 0px 4px 0px #842029;
}

.btn-info {
  background: #d9e7de;
  border-color: #446f9a;
  color: #446f9a;
}

.btn-info:active,
.btn-info:hover,
.btn-info:focus {
  background: #446f9a;
  border-color: #084298;
  box-shadow: 0px 4px 0px #084298;
  color: white;
}

.btn-light {
  background: white;
  border-color: #df6d45;
  box-shadow: 0px 4px 0px #df6d45;
  color: #cb3805;
}

.btn-light:active,
.btn-light:hover,
.btn-light:focus {
  background: #df6d45;
  border-color: #cb3805;
  box-shadow: 0px 4px 0px #cb3805;
  color: white;
}
