.App {
	text-align: center;
}

table {
	margin: 0 auto;
}

a {
	color: #61dafb;
}

.cuadros-jugadores {
	display: inline-flex;
	flex-flow: row wrap;
	gap: 10px;
	justify-content: flex-start;
}

.cuadro-jugador {
	height: 40px;
	width: 40px;
}

.menu-enlaces {
	padding-left: 0;
	list-style-type: none;
}

.menu-enlaces li {
	margin-bottom: 10px;
}
