.App {
	text-align: center;
}

table {
	margin: 0 auto;
}

a {
	color: #61dafb;
}

.header-titulo {
	color: green;
	font-size: 25px;
}

.header-subtitulo {
	color: red;
	font-size: 20px;
}

.cuadros-jugadores {
	display: inline-flex;
	flex-flow: row wrap;
	gap: 10px;
	justify-content: flex-start;
}

.cuadro-jugador {
	height: 40px;
	width: 40px;
}

.cuadro-ganador {
	border-color: yellow;
	border-width: 4px;
	border-style: dashed;
}

.menu-enlaces {
	padding-left: 0;
	list-style-type: none;
}

.menu-enlaces li {
	margin-bottom: 10px;
}

.carta-imagen {
	width: 75px;
}

.carta-marcada {
	opacity: 0.25;
}
